@model IEnumerable<ContosoUniversityAssessment.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New Course", "Create", null, new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm())
{
    <p>
        Find By Course Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
</div>
