@model IEnumerable<ContosoUniversityAssessment.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New Student", "Create", null, new { @class = "btn btn-default" })
</p>

@using (Html.BeginForm())
{
    <p>
        Find By Last Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
</div>
