@model IEnumerable<ContosoUniversityAssessment.Models.StudentWork>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentWorkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentWorkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentWorkID })
        </td>
    </tr>
}

</table>
